<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <title>Food Recipe App</title>
</head>
<body>
  <h1>Welcome to Food Recipe App</h1>
  <a href="/signup">Sign Up</a>
  <a href="/login">Login</a>
</body>
</html>
